.footer-love {
  float: right;
  padding: 0px 10px;

  .nav-option {
    padding: 5px;
    cursor: pointer;
  }
}

.social-icons {
  text-align: center;
}

.social-handle-icon {
  padding: 10px;
  font-size: 1.4em;
  cursor: pointer;
}

.iin {
  color: #ff00008a;
}

.fin {
  color: #385185;
}

.lin {
  color: #0a66c2;
}

.icon-love {
  padding: 2px;
  color: #f32626;
}

.corporation {
  padding: 0px 10px;
}

.footer-container {
  background-color: #6e544a6b;
  min-height: 75px;
}
