.footer-nav-contact-us {
    float: right;
    padding: 5px;
    position: relative;
    top: 30px;

    .nav-option {
      padding: 5px;
      cursor: pointer;
    }
}

.social-handle-icon {
    padding: 10px;
    
}

.social-handle-icon-love {
    padding: 2px;
    
}

.footer-container{
    background-color: #f60035;
    min-height: 75px;
}